<p>Home works!</p>

<button (click)="onDisconnect()">Deconnexion</button>
<button (click)="onPatch()">Patch</button>
<button (click)="onDelete()">Delete</button>
<br>
<button (click)="onGetMovies()">Get Viewed Movies</button>
<button (click)="onGetSpecificMovies()">Get Specific Movie</button>
<button (click)="onGenerateMovieList()">Generate Movie List</button>
<br>
<button (click)="onSwapView()">Swap View</button>
<button (click)="onSwapLike()">Swap Like</button>
<h3>{{ username }}</h3>
<h3>{{ email }}</h3>